# Llaves y secrets
.env
key.json

# Archivos temporales de python
__pycache__/
*.pyc
.pytest_cache/

# Entornos virtuales
venv/
env/

# Ignorar los archivos de log de las ejecuciones locales
logs/*.log