# Comando para instalar: pip install -r requirements.txt

# --- Extracción y APIs ---
apify_client
requests
httpx

# --- Google Cloud & BigQuery ---
google-cloud-bigquery
google-auth
python-dotenv

# --- Procesamiento de Datos ---
pandas
numpy>=2.1.0

# --- Procesamiento de Texto ---
deep_translator
langdetect
gender-guesser